.cv {
    width: 100%;
    max-width: 100%;
}

.cv-inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

.profile-image {
    width: 50%;
    border-radius: 50%;
}

.cv-items-left {
    background-color: rgb(146, 174, 146);
}